# Programming assigment 1
## Zachary Pilbean
## CS150

In [76]:
number1=float(input('Enter a floating point number: '))

Enter a floating point number: 44.3

In [77]:
number2=int(input('Enter and integer: '))

Enter and integer: 16

In [78]:
print('The sum is: ', (number1+number2))

The sum is:  60.3

In [79]:
print('The difference is: ', (number1-number2))

The difference is:  28.299999999999997

In [80]:
print('The product is: ', (number1*number2))

The product is:  708.8

In [81]:
print('The quotient is: ', (number1/number2))

The quotient is:  2.76875

In [82]:
print('The type for the result is: ', type(number1))

The type for the result is:  <class 'float'>